.header {
  min-height: 265px;
  padding: 32px 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F8F8F8;
  background-color: #512689;
}
.header__signout-link {
  width: 81px;
  height: 38px;
  align-self: baseline;
  margin-left: auto;
}
.header__signout-btn {
  border: 1px solid #F8F8F8;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 136.19%;
  padding: 8px;
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  color: #F8F8F8;
}
.header__signout-btn:focus {
  outline: 0.5px solid #AAAAAA;
}
.team__title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
  margin-bottom: 16px;
  text-align: center;
}
.team__description {
  margin: 0;
  max-width: 846px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .header {
    min-height: 281px;
    padding: 23px 20px 0;
  }
  .header__signout-link {
    width: 18px;
    height: 18px;
    background-image: url(../../images/icon_exit.svg);
  }
  .header__signout-btn {
    display: none;
  }
  .team__title {
    margin-top: 23px;
    font-size: 36px;
    line-height: 42px;
  }
  .team__description {
    font-size: 16px;
    line-height: 19px;
  }
}