.header {
  min-height: 265px;
  padding: 32px 5.56% 0;
  color: #F8F8F8;
  background-color: #512689;
}
.header_type_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_type_profile {
  display: flex;
  justify-content: space-between;
}
.header__btn-cover {
  width: 81px;
  height: 38px;
  align-self: baseline;
  margin-left: auto;
}
.header__btn {
  border: 1px solid #F8F8F8;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 136.19%;
  padding: 8px;
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  color: #F8F8F8;
}
.header__btn:focus {
  outline: 0.5px solid #AAAAAA;
}
.team__title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
  margin-bottom: 16px;
  text-align: center;
}
.team__description {
  margin: 0;
  max-width: 846px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}
.header__container {
  display: flex;
}
.header__avatar {
  width: 187px;
  height: 187px;
  border-radius: 100px;
  margin: 7px 32px 0 29px;
  object-fit: cover;
}
.header__description {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
}
.header__name {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
  margin-bottom: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header__role {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }



@media screen and (max-width: 767px) {
  .header {
    min-height: 281px;
    padding: 23px 20px 0;
  }
  .header__btn-cover_type_exit {
    width: 18px;
    height: 18px;
    background-image: url(../../images/icon_exit.svg);
  }
  .header__btn-cover_type_back {
    width: 18px;
    height: 18px;
    background-image: url(../../images/arrow_back.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }
  .header__btn {
    display: none;
  }
  .team__title {
    margin-top: 23px;
    font-size: 36px;
    line-height: 42px;
  }
  .team__description {
    font-size: 16px;
    line-height: 19px;
    order: 2;
  }
  .header__container {
    flex-direction: column;
    position: relative;
    flex-grow: 1;
  }
  .header__avatar {
    margin: 16px auto 64px;
    order: 3;
  }
  .header__name {
    font-size: 36px;
    line-height: 42px;
    margin: 0 auto;
  }
  .header__role {
    font-size: 20px;
    line-height: 23px;
    margin: 0 auto;
  }
}